@model AchuBan_ECom.Models.Models.Company

@{
    var isEdit = Model?.Id > 0;
    // always post to the single Upsert action
    var formAction = "Upsert";
    ViewData["Title"] = isEdit ? "Edit" : "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="@formAction" asp-controller="Companies" asp-area="Admin" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row pt-4">
            <div class="row col-10">
                <h5 class="text-muted">@((isEdit) ? "Edit Company" : "Create Company")</h5>
            </div>
            <div class="row col-1">
                <a asp-action="Index" class="btn btn-secondary p-2">Cancel</a>
            </div>
            <div class="row col-1">
                <input type="submit" value="@(isEdit ? "Update" : "Create")"
                       class="btn btn-primary p-2" />
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TinNumber" class="control-label"></label>
                        <input asp-for="TinNumber" class="form-control" />
                        <span asp-validation-for="TinNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="StreetAdress" class="control-label"></label>
                        <input asp-for="StreetAdress" class="form-control" />
                        <span asp-validation-for="StreetAdress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Region" class="control-label"></label>
                        <input asp-for="Region" class="form-control" />
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PostalCode" class="control-label"></label>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}